.divContainerCyclistAssistance00 {
  background-image: url("../../../../img/image 29.png");
  background-size: 55.875rem 34.625rem;
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
}
.divContainerCyclistAssistance00 div:nth-child(1) {
  margin-top: 1.25rem;
  display: flex;
  flex-flow: column;
}
.divContainerCyclistAssistance00 div:nth-child(1) h1 {
  font-weight: 700;
  font-family: Verdana;
}
.divContainerCyclistAssistance00 div:nth-child(1) h1:nth-child(1) {
  font-size: 1.6875rem;
  line-height: 2.734375rem;
  color: #959595;
}
.divContainerCyclistAssistance00 div:nth-child(1) h1:nth-child(2) {
  font-size: 2.25rem;
  line-height: 2.050625rem;
  color: #b4cd25;
}
.divContainerCyclistAssistance00 div:nth-child(2) {
  display: flex;
  /*  gap:toRem(30); */
  /*   margin-top: toRem(27); */
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(1) {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(1) p {
  width: 31.25rem;
  font-family: "Quicksand";
  font-style: medium;
  font-size: 1rem;
  line-height: 1.25rem;
  /*   word-spacing: .5em; */
  vertical-align: top;
  color: #555555;
  font-weight: 500;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) {
  display: flex;
  flex-flow: column nowrap;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.125rem;
  height: 2.5rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4cd25;
  color: #ffffff;
  font-family: "Quicksand";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2:nth-child(1) {
  width: 13.9375rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2:nth-child(2) {
  width: 6.75rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2:nth-child(3) {
  width: 9.75rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2:nth-child(4) {
  width: 5.6875rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(1) h2:nth-child(5) {
  width: 6.125rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div {
  display: flex;
  flex-flow: row nowrap;
  height: 1.5rem;
  gap: 0.125rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2 {
  font-family: "Oswald";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.481875rem;
  text-align: center;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2:nth-child(1) {
  width: 13.9375rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2:nth-child(2) {
  width: 6.75rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2:nth-child(3) {
  width: 9.75rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2:nth-child(4) {
  width: 5.6875rem;
}
.divContainerCyclistAssistance00 div:nth-child(2) div:nth-child(2) div:nth-child(2) div h2:nth-child(5) {
  width: 6.125rem;
}/*# sourceMappingURL=index.css.map */