@import "../../functions/index";

.divContainerLogin00 {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-flow: column nowrap;
    div:nth-child(1) {
      display: flex;
      flex-flow: column nowrap;
      gap: toRem(5);
      label:nth-child(1) {
        &::after {
          content: "Correo electrónico";
        }
      }
      label:nth-child(2) {
        &::after {
          content: "Contraseña";
        }
      }
      label {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        &::after {
          position: absolute;
          top: toRem(5);
          left: toRem(14);
          font-family: "Quicksand";
          font-weight: 600;
          color: #959595;
          font-size: toRem(12);
          line-height: toRem(15);
        }
        input {
          width: toRem(246);
          height: toRem(27);
          border: solid toRem(1) #cccccc;
          border-radius: (3);
          font-family: "Quicksand";
          font-weight: 500;
          font-size: toRem(16);
          line-height: toRem(20);
          color: #666666;
          padding: toRem(23) 0 0 toRem(14);
        }
      }
    }
    div:nth-child(2) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      button {
        margin-top: toRem(30);
        height: toRem(40);
        width: toRem(200);
        font-size: toRem(16);
        color: #ffffff;
        border-radius: toRem(20);
        background-color: #15495d;
        border: none;
        font-family: "Quicksand";
      }
      h2 {
        font-weight: 300;
        margin-top: toRem(30);
        font-size: toRem(16);
        font-family: "Oswald", sans-serif;
        color: #15495d;
        text-decoration:underline;
      }
    }
  }
}
