@import "../../../styles/functions/index.scss";
@import "../../../styles/mixin/index.scss";

.contactor {
  @include flexRow;
  justify-content: center;
  position: relative;
  > div:nth-child(1) {
    position: absolute;
    top: toRem(123);
    left: toRem(30);
  }
  > div:nth-child(2) {
    @include flexColumn;
    margin-top: toRem(38);
    align-items: center;
    gap: toRem(34);
    > div:nth-child(1) {
      @include flexColumn;
      gap: toRem(5);
      > div:nth-child(1) {
        width: toRem(340);
        @include flexRow;
        align-items: center;
        justify-content: space-between;
        > div:nth-child(2) {
          @include flexRow;
          gap: toRem(10.37);
          align-items: center;
          > h3 {
            font-weight: 700;
            line-height: toRem(20);
            color: #666666;
          }
        }
      }
    }
  }
}
